.copyright {
    margin-top: auto;
    text-align: center;
    font-size: 12px;
    line-height: 18px;

    div:nth-of-type(2) {
        a {
            margin-right: 16px; 
        }
    }

    a {
        font-size: 12px;
    }
}